*,
::after,
::before {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-inline-size: 100%;
  block-size: auto;
}

body {
  height: 100vh;
  background: hsl(210, 36%, 96%);
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: absolute;
  left: -400px;
  top: 0;
  max-width: 400px;
  width: 100%;
  overflow: hidden;
  height: 100%;
  background: #fff;
  padding: 16px 0 35px;
  transition: all ease-in-out 0.5s;
}

.sidebar.hidden {
  left: 0;
}

.logo {
  align-self: flex-start;
  padding-left: 16px;
}

.sidebar-close {
  position: absolute;
  right: 25px;
  top: 27px;
  font-size: 20px;
  border: none;
  background: transparent;
  transition: all ease-in-out 0.28s;
}

.sidebar-close:hover {
  cursor: pointer;
  transform: rotate(720deg);
  opacity: 0.7;
}

.toggle-sidebar {
  position: absolute;
  top: 30px;
  right: 30px;
  border-top: 5px solid hsl(205, 78%, 60%);
  border-bottom: 5px solid hsl(205, 78%, 60%);
  width: 30px;
  height: 27px;
  transition: all ease-in-out 0.28s;
  animation: zoom 2s linear 1s infinite alternate;
}

.toggle-sidebar::after {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 30px;
  height: 5px;
  background: hsl(205, 78%, 60%);
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.toggle-sidebar:hover {
  cursor: pointer;
  opacity: 0.8;
}

.toggle-sidebar-none {
  display: none;
}

.nav {
  flex: 1 1 auto;
  align-self: stretch;
}

.menu {
  list-style: none;
  font-size: 24px;
  text-transform: uppercase;
  font-family: sans-serif;
  color: hsl(209.45deg 22.09% 48.82%);
}

.menu-items {
  width: 100%;
}

.menu a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  padding: 16px 24px;
  width: 100%;
  transition: all ease-in-out 0.28s;
}

.menu a:hover {
  background: hsl(205, 86%, 81%);
}

.social-block {
  align-self: center;
}

.social {
  display: flex;
  gap: 15px;
  justify-content: center;
  list-style: none;
}

.social-items {
  width: 30px;
  height: 30px;
  transition: all ease-in-out 0.28s;
}

.social-items:hover {
  cursor: pointer;
  filter: grayscale(58%) brightness(46%);
  -webkit-filter: grayscale(58%) brightness(46%);
  -moz-filter: grayscale(58%) brightness(46%);
}
